<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>AOUN</title>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,900&family=Ubuntu&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="shortcut icon" href="./images/logo.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">



<script src="https://kit.fontawesome.com/6503ba7c64.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

</head>

<body>
  <header>
      <div class="logo" title="University Management System">
          <img src="{{ url_for('static', filename='images/logo.png') }}"" alt="">
          <h2>U<span class="danger">M</span>S</h2>
      </div>
      <div class="navbar">
          <a href="index.html" class="active">
              <span class="material-icons-sharp">home</span>
              <h3>Home</h3>
          </a>
          <a href="timetable.html" onclick="timeTableAll()">
              <span class="material-icons-sharp">today</span>
              <h3>Time Table</h3>
          </a> 
          <a href="exam.html">
              <span class="material-icons-sharp">grid_view</span>
              <h3>Examination</h3>
          </a>
          <a href="password.html">
              <span class="material-icons-sharp">password</span>
              <h3>Change Password</h3>
          </a>
          <a href="#">
              <span class="material-icons-sharp" onclick="">logout</span>
              <h3>Logout</h3>
          </a>
      </div>
      <div id="profile-btn">
          <span class="material-icons-sharp">person</span>
      </div>
      <div class="theme-toggler">
          <span class="material-icons-sharp active">light_mode</span>
          <span class="material-icons-sharp">dark_mode</span>
      </div>
  </header>
  <div class="container">
      <aside>
          <div class="profile">
              <div class="top">
                  <div class="profile-photo">
                      <img src="{{ url_for('static', filename='images/profile-1.jpg') }}" alt="">
                  </div>
                  <div class="info">
                      <p>Hey, <b>Alex</b> </p>
                      <small class="text-muted">12102030</small>
                  </div>
              </div>
              <div class="about">
                  <h5>Course</h5>
                  <p>BTech. Computer Science & Engineering</p>
                  <h5>DOB</h5>
                  <p>29-Feb-2020</p>
                  <h5>Contact</h5>
                  <p>1234567890</p>
                  <h5>Email</h5>
                  <p>unknown@gmail.com</p>
                  <h5>Address</h5>
                  <p>Ghost town Road, New York, America</p>
              </div>
              <button class="edit-profile-btn"><a href="{{ url_for('profile') }}">Edit Profile </a></button>
          </div>
          
      </aside>

      <main>
          <h1>Search for Training</h1>
          <div class="search-bar">
              <input type="text" id="searchInput" placeholder="Search for training...">
          </div>
          <div class="filter">
              <label for="categoryFilter">Category:</label>
              <select id="categoryFilter">
                  <option value="all">All</option>
                  <option value="engineering">Engineering</option>
                  <option value="math">Mathematics</option>
                  <option value="cs">Computer Science</option>
                  <option value="db">Database Management</option>
                  <option value="network">Network Security</option>
              </select>
          </div>
          <div class="search-training">
              <div class="training-item">
                  <span class="material-icons-sharp">architecture</span>
                  <h3>Engineering Graphics</h3>
                  <h2>12/14</h2>
                  <div class="progress">
                      <svg><circle cx="38" cy="38" r="36"></circle></svg>
                      <div class="number"><p>86%</p></div>
                  </div>
                  <small class="text-muted">Last 24 Hours</small>
              </div>
              <div class="training-item">
                  <span class="material-icons-sharp">functions</span>
                  <h3>Mathematical Engineering</h3>
                  <h2>27/29</h2>
                  <div class="progress">
                      <svg><circle cx="38" cy="38" r="36"></circle></svg>
                      <div class="number"><p>93%</p></div>
                  </div>
                  <small class="text-muted">Last 24 Hours</small>
              </div>
              <div class="training-item">
                  <span class="material-icons-sharp">computer</span>
                  <h3>Computer Architecture</h3>
                  <h2>27/30</h2>
                  <div class="progress">
                      <svg><circle cx="38" cy="38" r="36"></circle></svg>
                      <div class="number"><p>81%</p></div>
                  </div>
                  <small class="text-muted">Last 24 Hours</small>
              </div>
              <div class="training-item">
                  <span class="material-icons-sharp">dns</span>
                  <h3>Database Management</h3>
                  <h2>24/25</h2>
                  <div class="progress">
                      <svg><circle cx="38" cy="38" r="36"></circle></svg>
                      <div class="number"><p>96%</p></div>
                  </div>
                  <small class="text-muted">Last 24 Hours</small>
              </div>
              <div class="training-item">
                  <span class="material-icons-sharp">router</span>
                  <h3>Network Security</h3>
                  <h2>25/27</h2>
                  <div class="progress">
                      <svg><circle cx="38" cy="38" r="36"></circle></svg>
                      <div class="number"><p>92%</p></div>
                  </div>
                  <small class="text-muted">Last 24 Hours</small>
              </div>
          </div>

          <div class="timetable" id="timetable">
              <div>
                  <span id="prevDay">&lt;</span>
                  <h2>Documents Timetable</h2>
                  <span id="nextDay">&gt;</span>
              </div>
              <span class="closeBtn" onclick="timeTableAll()">X</span>
              <table>
                  <thead>
                      <tr>
                          <th>Time</th>
                          <th>Room No.</th>
                          <th>Subject</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody></tbody>
              </table>
          </div>
      </main>

      <div class="right">
          <div class="announcements">
              <h2>Announcements</h2>
              <div class="updates">
                  <div class="message">
                      <p> <b>Academic</b> Summer training internship with Live Projects.</p>
                      <small class="text-muted">2 Minutes Ago</small>
                  </div>
                  <div class="message">
                      <p> <b>Co-curricular</b> Global internship opportunity by Student organization.</p>
                      <small class="text-muted">10 Minutes Ago</small>
                  </div>
                  <div class="message">
                      <p> <b>Examination</b> Instructions for Mid Term Examination.</p>
                      <small class="text-muted">Yesterday</small>
                  </div>
              </div>
          </div>

          <div class="leaves">
              <h2>Supervisor & trainer</h2>
              <div class="teacher">
                  <div class="profile-photo"><img src="{{ url_for('static', filename='images/profile-2.jpeg') }}" alt=""></div>
                  <div class="info">
                      <h3>The Professor</h3>
                      <small class="text-muted">Full Day</small>
                  </div>
              </div>
              <div class="teacher">
                  <div class="profile-photo"><img src="{{ url_for('static', filename='images/profile-4.jpg') }}" alt=""></div>
                  <div class="info">
                      <h3>Himanshu Jindal</h3>
                      <small class="text-muted">Full Day</small>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timetable.js') }}"></script>
</body>

</html>
