{% extends "sign_up_template.html" %}
{% block signup %}
<body>
    <div class="container">
        <h2>Create An Account</h2>
        <form>
            <input type="text" placeholder="company name" required>
            <input type="email" placeholder="Email Address" required>
            <input type="password" placeholder="Password" required>
            <p class="training">Training Schedule File: </p>
            <input type="file" required >
            <button type="submit">Create Account</button>
        </form>
        <div class="signin">
            Already Have An Account? <a href="{{ url_for('sign_in_company') }}">Sign In</a>
        </div>
    </div>
</body>
{% endblock %}


