<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">
</head>
<body>
    <div class="container">
        <h2>Create An Account</h2>
        <form>
            <input type="text" placeholder="First Name" required>
            <input type="text" placeholder="Last Name" required>
            <input type="email" placeholder="Email Address" required>
            <input type="text" placeholder="Student ID" required>
            <input type="password" placeholder="Password" required>
            <button type="submit">Create Account</button>
        </form>
        <div class="signin">
            Already Have An Account? <a href="{{ url_for('sign_in_student') }}">Sign In</a>
        </div>
    </div>
</body>
</html>
