body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d4f1f9;
    margin: 0;
    font-family: Arial, sans-serif;
}
.Sign-up {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.Sign-up h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.Sign-up p {
    margin-bottom: 2rem;
    color: #888888;
}
.Sign-up button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background-color: #71cde1;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}
.Sign-up button:hover {
    background-color: #5bb8c9;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  