{% extends "sign_in_template.html" %}
{% block signin %}
<body>

    <div class="container">
        <h2>Sign-In </h2>
        <form >
            <input type="email" placeholder="Email Address">
            <input type="password" placeholder="Password">
            <button type="submit"><a href="{{ url_for('HomePage_company') }}">Sign in</a></button>
        </form>
        <div class="signup">
            You Don't Have An Account? <a   href="{{ url_for('sign_up_company') }}">Create account</a>
        </div>
    </div>


</body>
{% endblock %}